<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.java.join.model.mapper.PostMapper">
    <insert id="insert" parameterType="kr.java.join.model.domain.Post">
        insert into post (info_id, title, content)
        values (#{infoId}, #{title}, #{content})
    </insert>

    <resultMap id="postByUserResultMap" type="kr.java.join.model.dto.PostByUserDTO">
        <result property="username" column="username" />
        <result property="nickname" column="nickname" />
        <result property="email" column="email" />
        <collection property="posts" ofType="kr.java.join.model.domain.Post">
            <id property="postId" column="post_id" />
            <result property="infoId" column="info_id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
        </collection>
    </resultMap>

    <!-- WHERE 문에 들어갈 것을 JOIN으로 땡겨서 써도 된다 -->
    <select id="findByUsername" resultMap="postByUserResultMap">
        SELECT
            ul.username,
            ui.nickname, ui.email,
            p.post_id, p.info_id, p.title, p.content
        FROM
            user_login ul
        JOIN
            user_info ui ON ul.login_id = ui.login_id
            AND ul.username = #{username}
        JOIN
            post p USING (info_id)
    </select>

    <select id="findAll" resultType="kr.java.join.model.dto.PostWithNicknameDTO">
        SELECT
            p.post_id, p.title, p.content,
            p_ui.nickname,
            -- 1. recommend -> 추천이 있는지 여부
            count(r.post_id) recommendCnt,
            -- 2. 내 추천인지
            if(sum(CASE WHEN r_ul.username = #{username} THEN 1 OR 0 END) > 0, 'Y', 'N') myRecommend
        FROM
            post p
        JOIN -- 작성자 : post -> info_id -> nickname
            user_info p_ui ON p.info_id = p_ui.info_id
        LEFT JOIN -- recommend -> LEFT JOIN
            recommend r USING (post_id)
        LEFT JOIN
            user_info r_ui ON r.info_id = r_ui.info_id
        LEFT JOIN
            user_login r_ul ON r_ui.login_id = r_ul.login_id
        GROUP BY post_id
    </select>

    <resultMap id="postByUserRecommendResultMap" type="kr.java.join.model.dto.PostByUserRecommendDTO">
        <result property="username" column="username" />
        <result property="nickname" column="nickname" />
        <result property="email" column="email" />
        <collection property="posts" ofType="kr.java.join.model.domain.Post">
            <id property="postId" column="post_id" />
            <result property="infoId" column="info_id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
        </collection>
    </resultMap>

    <select id="findByRecommend" resultMap="postByUserRecommendResultMap">
        SELECT
            ul.username,
            ui.nickname, ui.email,
            -- 추천을 당한 (M:N) ...
            p.post_id, p.info_id, p.title, p.content
        FROM
            user_login ul
            JOIN user_info ui
                ON ul.login_id = ui.login_id
                AND ul.username = #{username}
            -- 유저의 정보 (위에까지는...)
            JOIN recommend r -- 유저가 추천한 목록. (info_id)
                ON r.info_id = ui.info_id
            -- info_id -> recommend -> post_id
            JOIN post p
                ON p.post_id = r.post_id
    </select>

    <select id="findByIds" resultType="kr.java.join.model.dto.PostDTO">
        SELECT title
        FROM post
        WHERE post_id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertPostsBatch">
        insert into post (info_id, title, content)
        values
        <foreach collection="list" item="post" separator=",">
            (#{post.infoId}, #{post.title}, #{post.content})
        </foreach>
    </insert>

    <select id="findWithKeyword" resultType="kr.java.join.model.dto.PostDTO">
        <bind name="likeKeyword" value="'%' + _parameter + '%'" />
        SELECT
            p.title
        FROM
            post p
        WHERE
            p.title LIKE #{likeKeyword}
            OR p.content LIKE #{likeKeyword}
    </select>
</mapper>