<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.java.join.model.mapper.UserLoginMapper">
    <select id="findByUsername"
            parameterType="java.lang.String"
            resultType="kr.java.join.model.dto.UserLoginDTO">
        select username, password
        from user_login
        where username = #{username}
    </select>

    <resultMap id="loginWithInfoResultMap"
               type="kr.java.join.model.dto.UserLoginWithInfoDTO">
        <result property="username" column="username" />
        <association property="userInfo" javaType="kr.java.join.model.dto.UserInfoDTO">
            <result property="nickname" column="nickname" />
            <result property="email" column="email" />
        </association>
    </resultMap>

    <select id="findByUsernameWithInfo"
            resultMap="loginWithInfoResultMap">
        SELECT
            ul.username,
            ui.nickname,
            ui.email
        FROM
            user_login ul
        JOIN
            user_info ui USING (login_id)
        WHERE
            ul.username = #{username}
    </select>
</mapper>